<div class="container">
    <div class="row">
        <p>管理者　User一覧</p>
    </div>
    <div class="row">
      <div class="col-md-8 col-sm-offset-2">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>アイコン</th>
                                <th>会員名</th>
                                <th>メールアドレス</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @users.each do |user| %>
                            <tr>
                                <td>
                                    <%= user.id %>
                                </td>
                                <td>
                                    <%= link_to admin_user_path(user.id) do %>
                                    <%= attachment_image_tag user, :icon, :size =>'100x100', fallback: "no_image.jpg" %>
                                    <% end %>
                                </td>
                                <td>
                                    <%= user.name %>
                                </td>
                                <td>
                                    <%= user.email %>
                                </td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
        </div>
    </div>
</div>