<!-- <div class="container"> -->
<!-- スライド -->
<div class="slide1">
    <!-- <div style=background:url('img/850_8073.jpg')> -->
    <div>
        <%= image_tag 'img/850_8073.jpg' %>
        <p class="fade-text">Divingram</p>
    </div>
    <div>
        <%= image_tag 'img/P6050313.jpg' %>
        <p class="fade-text">Divingram</p>
    </div>
</div>
<div class="row">
    <section class="fadein">
        <div class="about-visual">
            <div class="about-visual-left">
                <div class="col-md-6">
                    <p class="ex1">About</p><br><br>
                    <%= image_tag 'img/icon.png', :class=>"header-logo" %><br><br>
                    <p class="ex2">Divingramについて</p>
                </div>
                <div class="col-md-6">
                    <p class="ex2">海の世界を共有しよう</p><br><br>
                    <div class="about-visual-text">
                        <p class="desc">当サイトはダイバー向けの画像投稿サイトです。<br>
                            会員登録することにより、画像の投稿やコメント<br>
                            気に入った画像にリアクションが可能です。<br>
                            一度投稿した画像とコメントは削除のみ可能です。</p>
                    </div>
                </div>
            </div>
        </div>
</div>
</section>
</div>
<div class="row">
    <div class="col-md-8 col-sm-offset-2">
        <section class="fadein">
            <%= image_tag 'img/photo_gallery.png' %>
            <%= image_tag 'img/01diver_s.png' %>
        </section>
    </div>
</div>
<div class="row">
    <br>
    <div class="col-md-10 col-sm-offset-1">
        <% @post_images.each do |post_image| %>
        <div class="col-md-4">
            <section class="fadein">
                <div class="image">
                  <div class="img_wrap">
                    <%= link_to post_image_path(post_image.id) do %>
                    <%= attachment_image_tag post_image, :image, :size =>'300x300' %>
                    <% end %>
                </div>
              </div>
                <div class="block-content">
                    <%= image_tag 'img/usericon1.png', :class=>"user-icon" %>By
                    <%= post_image.user.name %>
                </div>
            </section>
        </div>
        <% end %>
        <!-- kaminari表示件数 -->
        <%= paginate @post_images, class: "paginate" %>
    </div>
</div>
<!-- </div> -->