<!DOCTYPE html>
<html>

<head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <title>Diver</title>
</head>

<body>
    <!-- ヘッダー -->
    <div class="header navbar cleafix">
            <nav class="nav navbar-nav navbar-center">
                <%= link_to 'Divingram', post_images_path,class:"header-logo" %>
            </nav>
            <% if user_signed_in? %>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <%= link_to 'マイページ', user_path(current_user.id),class:"header-link" %>
                </li>
                <li>
                    <%= link_to "ログアウト", destroy_user_session_path, method: :delete,class:"header-link" %>
                </li>
            </ul>
            <% else %>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <%= link_to "新規登録", new_user_registration_path,class:"header-link" %>
                </li>
                <li>
                    <%= link_to "ログイン", new_user_session_path,class:"header-link" %>
                </li>
                <% end %>
            </ul>
        </div>
    </div>
    <%= yield %>
</body>

</html>