<!DOCTYPE html>
<html>

<head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <!-- <link rel="stylesheet" type="text/css" href="assets/stylesheet/slick-theme.scss" / -->
    <!-- <link rel="stylesheet" type="text/css" href="assets/stylesheet/slick.scss" /> -->
    <title>Diver</title>
</head>

<body>
    <!-- ヘッダー -->
    <div class="header navbar cleafix">
        <nav class="nav navbar-nav navbar-center">
            <%= image_tag 'img/02diver_s.png', :class=>"header-logo" %>
            <%= link_to 'Divingram', post_images_path %>
        </nav>
        <% if user_signed_in? %>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <%= link_to 'マイページ', user_path(current_user.id),class:"header-link" %>
            </li>
            <li>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete,class:"header-link" %>
            </li>
        </ul>
        <% else %>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <%= link_to "新規登録", new_user_registration_path,class:"header-link" %>
            </li>
            <li>
                <%= link_to "ログイン", new_user_session_path,class:"header-link" %>
            </li>
            <% end %>
        </ul>
    </div>
    <div class="bubbles">
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
            <div class="wrapper">
                <%= yield %>
            </div>
    </div>
    <footer>
        <p class="footer-text">Copyright © Divingram 2019</p>
    </footer>
    <!-- slickの設定内容 -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="assets/javascripts/slick.min.js"></script> -->
    <script type="text/javascript">
    //top一覧スライド
    $(document).ready(function() {
        $('.slide1').slick({
            autoplay: true, //自動再生
            dots: true, //ドットのナビゲーションを表示
            infinite: true, //スライドのループ有効化
            speed: 1000, //切り替えのスピード（小さくすると速くなる）
            fade: true, //フェードの有効化
        });
    });
    // / いいね一覧スライド
    $(document).ready(function() {
        $('.slider').slick({
            autoplay: true,
            centerMode: true,
            centerPadding: '5%',
            dots: true,
            focusOnSelect: true,
            infinite: true,
            touchMove: true
        });
    });
    </script>
</body>

</html>